*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(245, 245, 243);
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #b5179e;
    padding: 8px;
    box-shadow: 0 2px 4px #ccc;
}

.navbar h2 {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.navbar span {
    color: #6b0131;
}

.nav-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-right: 150px;
    
}

.nav-links ul li {
    list-style: none;
    font-size: 20px;
}

.nav-links ul li a {
    color: #f9dbf9;
    text-decoration: none;
    transition: 0.5s ease;
    padding: 6px 10px;
    border-radius: 10px;
}

.nav-links ul li a:hover{
    background: #ffc6ff;
    color: #b5179e;
}

.title{
    color: #2217b5;
    background: #f9dbf9;
    display: inline-block;
    margin-top: 20px; 
    margin-left: 40%;
    box-shadow: 0 2px 6px #ccc;
}

.container {
    text-align: center;
    background: linear-gradient(to right, rgb(249, 243, 243), #f9dbf9);
    width: 45%;
    margin-left: 30%;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 6px #ccc;
}

#input {
    margin-top: 30px;
    width: 90%;
    border: 1px solid #ccc;
    padding: 6px 4px;
    border-radius: 6px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 15px;
    margin: 10px;
}

.buttons button {
    font-weight: 500;
    border: 1px solid #ccc;
    padding: 4px 15px;
    color: white;
    background: rgb(211, 75, 17);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.1s ease-in;
}

.buttons button:hover {
    font-size: 14px;
    color: #c6d40b;
    background: rgb(124, 3, 112);
}

#list li {
    list-style: none;
    text-align: left;
    padding: 2px 15px;
    background: #f1eded;
    margin: 4px;
    border-radius: 8px;
    box-shadow: 0 2px 6px #f1dcdc;
    color: rgb(83, 82, 82);
    cursor: pointer;
    transition: 0.5s ease;
}

#list li:hover {
    transform: translateX(10px);
    background: #ccc;
}
#count {
    color: #2217b5;
}

.about {
    background: url(Soft_pink_abstract_background_with_watercolor.jpg);
    padding: 10px;
    border-radius: 5px;
}

.about h2 {
    color: rgb(23, 6, 178);
    cursor: pointer;
}

.first{
    text-align: center;
    color: rgb(211, 75, 17);
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}
.about ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.about ul li {
  list-style: none;
  background: #ba2e6d;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0 2px 6px #d75aa9;
  text-align: center;
  transition: 0.2s ease;
}

.about ul li:hover {
    transform: translateX(10px);
    color: #fef7f0;
}

.second{
    color: white;
    margin-top: 40px;
}

.contact {
    background: #fceeee;
}

.contact h3 {
    padding: 10px;
    color: #9da708;
    margin-top: 15px;  
}

.contact ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: rgb(128, 128, 125);
}

.fa-phone {
    color: blue;
    font-size: 15px;
}

.fa-envelope {
    color: red;
    font-size: 15px;
}

.fa-house {
   color: green;
   font-size: 15px;
}

.footer-section {
    background: black;
    color: white;
    padding: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.social-links a{
    color: orange;
    font-size: 20px;
    transition: 0.3s ease;
}

.social-links a:hover {
    font-size: 15px;
}

.buttons button.active {
    background: #c6d40b;
    color: #6b0131;
}

#list li.highlight {
    background: yellow;
}

/*responsive*/
@media ( max-width : 768px ) {
    .navbar {
        flex-direction: column;
    }
    .nav-links {
        padding: 15px 0;
        margin-left: 45% ;
    }
    .title {
        text-align: center;
        margin: 20px auto;
    }
    .container {
        width: 70%;
        margin-left: 20%;
    }

}
